* {
	padding: 0;
	margin: 0;
}
body {
	color: #555;
}
input {
	font-family: inherit;
	color: inherit;
	background: inherit;
	font-variant: inherit;
	border: none;
}
div#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
div#card-holder {
	width: 89mm;
	height: 51mm;
	position: relative;
}
div.card {
	border: 1px solid #ddd;
	width: 89mm;
	height: 51mm;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fefef8;
	box-shadow: 0px 1px 1px #eee;
}
#allen {
	top: 0px;
	left: 0px;
	z-index: 4;
	color: #f88;
	font-family: 'Copperplate Gothic', 'Della Respira', serif;
	font-variant: small-caps;
    font-size: 13pt;
}
#bateman {
	top: 5px;
	left: 5px;
	z-index: 3;
	font-family: 'EB Garamond', serif;
	font-variant: small-caps;
}
#vanpatten {
	top: 10px;
	left: 10px;
	z-index: 2;
    font-family: 'Old Standard TT', serif;
}
#vanpatten .name {
	font-weight: bold;
}
#bryce {
	top: 15px;
	left: 15px;
    font-family: 'Roboto', sans-serif;
	z-index: 1;
}
ul#buttons {
	float: right;
	list-style-type: none;
}
.icon-container {
	width: 45px;
	height: 45px;
	margin-bottom: 1em;
	border-radius: 30px;
	position: relative;
}
.icon-container img, .icon-container input {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 30px;
	height: 30px;
	outline: none;
}
#cycle-icon-container {
	margin: 2em 0 0 0;
}
#cycle-icon {
	position: absolute;
	top: 5px;
	left: 8px;
	width: 30px;
	height: 30px;
	outline: none;
}
#cycle-icon-container {
	-webkit-transition-duration: 0.05s;
	-moz-transition-duration: 0.05s;
	-o-transition-duration: 0.05s;
	transition-duration: 0.05s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
#cycle-icon-container:hover {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
}

#cycle-icon-container:hover * {
	fill: #aaa;
}
.orange-background {
	background: #fc8;
}
.orange-background:hover {
	background: #fb4;
}
.grey-background {
	background: #ccc;
}
.grey-background:hover {
	background: #aaa;
}
.small {
	font-size: 11px;
}
.bold {
	font-weight: bold;
}
div#footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
}
.card-top-left, .card-top-right {
	position: absolute;
	top: 4mm;
	width: 39mm;
}
.card-top-left {
	left: 5mm;
}
.card-top-right {
	right: 5mm;
}
.card-top-right input, .card-top-left input {
	display: block;
	width: 100%;
}
.card-center {
	width: 100%;
	top: 22.5mm;
	display: table-cell;
	position: absolute;
	left: 5mm;
}
.card-center input {
	width: 79mm;
	right: 5mm;
	left: 5mm;
	margin: 1px 0;
}
.card-bottom {
	position: absolute;
	width: 79mm;
	bottom: 3mm;
	left: 5mm;
    font-size: smaller;
}
.card-bottom input {
	width: 100%;
    font-size: 8.5px;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}
.center-align {
	text-align: center;
}
.right-align {
	text-align: right;
}
.right {
	float: right;
}
.left {
	float: left
}
input:-webkit-autofill {
	background-color: #fefef8 !important;
	background-image: none !important;
	color: #333 !important;
}
/* Print */
@media print {
	* {
		display: hidden;
	}
	.card {
		box-shadow: none;
	}
	.card, .card * {
		visibility: visible;
	}
}
